<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script>window.GOVUKFrontend.initAll()</script>
</head>
<style>
    .govuk-select {
        font-size: 16px;
        margin: 5px;
    }
    .govuk-button {
        font-size: 14px;
        padding: 5px 10px;
    }
</style>
<body>
<header class="govuk-header" role="banner" data-module="govuk-header" th:fragment="govukHeader">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype-text">GOV.UK</span>
            </a>
        </div>
        <div class="govuk-header__content">
            <a class="govuk-header__link govuk-header__service-name" href="#">My Application</a>
        </div>
    </div>
</header>
<!-- Include the progress bar in every page -->
<div th:replace="~{fragments/progressBar}"></div>

<!-- Language Toggle -->
<form action="/set-language" method="get" class="govuk-form-group">
    <select name="lang" class="govuk-select">
        <option th:selected="${session.lang == 'en'}" value="en">English</option>
        <option th:selected="${session.lang == 'cy'}" value="cy">Cymraeg (Welsh)</option>
    </select>
    <button type="submit" class="govuk-button govuk-button--secondary">Switch</button>
</form>

</body>
</html>
