<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="/income-spending" class="${progressStatus['incomeSpending']}">Income and Spending</a>
                </li>

                <li class="moj-side-navigation__item">
                    <a href="/government-contract" class="${progressStatus['governmentContract']}">Government Contract</a>
                </li>

                <li class="moj-side-navigation__item">
                    <a href="/government-contract-value" class="${progressStatus['governmentContractValue']}">Government Contract Value</a>
                </li>
            </ul>
        </nav>

    </div>

</div>
